.errors {
  margin-top: 0 !important;
  color: red;
}

.socialSignIn {
  .row {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 10%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
