.socialSignIn {
  .row {
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      left: 10%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.recoveryLink {
  margin-top: 16px;

  a {
    text-decoration: underline;
    color: rgb(241, 91, 91);
  }
}
