.btn {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: 0;
  cursor: pointer;
  outline: none;
}
