.footer {
  max-width: 1450px;
  height: 5.8rem;
  margin: 0 auto;

  .wrap {
    position: relative;
    max-width: 1450px;
    margin: 0 auto;
    height: 100%;

    .copyRight {
      position: absolute;
      top: 50%;
      left: 43%;
      transform: translate(-43%, -50%);
      -webkit-transform: translate(-43%, -50%);
      -moz-transform: translate(-43%, -50%);
    }

    .logo {
      width: 16rem;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
